/*-------------------------- CSS For Navbar Starts Here -------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-brand {
    color: red;
    font-size: 2rem;

}

.nav-link {
    color: rgb(10, 10, 94);
   
}

.nav-link:hover {
    color: red;
    border-bottom: 3px solid red;
    transition: all 0.2s;
}

.nav-item {
    color: rgb(7, 7, 78);
    font-weight: 500;
    padding-left: 35px;
}

.btn0 {
    height: 52px;
    width: 130px;

    text-align: center;
    padding-top: 12px;


    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.4s;
    background-color: rgb(248, 83, 83);
}

.btn0:hover {
    color: white;
    text-decoration: none;

    background: rgb(214, 11, 11);
    transition: all 0.4s;
}

.btn1 {
    height: 52px;
    width: 130px;
    text-align: center;
    padding-top: 12px;
    background-color: transparent;
    color: red;
    cursor: pointer;
    transition: all 0.4s;
    outline: none;
    border: 2px solid rgb(248, 20, 20);
}

.btn1:hover {
    background: rgb(214, 11, 11);
    transition: all 0.4s;
    color: white;
    text-decoration: none;
}

#products{
    color: red;
    border-bottom: 3px solid red;
}

/*-------------------------- CSS For Navbar Ends Here -------------------------- */



/*-------------------------- CSS For Products Details Starts Here -------------------------- */

.red {
    color: red;
}

.products h1 {
    font-size: 3.5rem;
    color: rgb(7, 7, 78);
}

.products .card:hover {
    color: red;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: -2px 2px 22px -11px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 2px 22px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 2px 22px -11px rgba(0, 0, 0, 0.75);
}

.addToCart {
    background-color: yellow;
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 3px;
    font-weight: 500;
}

.BuyNow {

    background-color: orange;
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 3px;
    font-weight: 500;
}

.addToCart:hover {
    border: 2px solid black;
}

.BuyNow:hover {
    border: 2px solid black;
}

/* img class for making changes to images style */

.img {
    height: 250px;
    width: 100%;
}

/*-------------------------- CSS For Products Details Ends Here -------------------------- */



/*-------------------------- CSS For footer Starts Here -------------------------- */

.footer {
    background-color: #121626;
    color: white;
}

.footer p {
    margin: 0;
    color: #69696b;
}

.link {
    color: #69696b;
    transition: all 0.4s;
}

.link:hover {
    color: #ff2962;
    padding-left: 10px;
    transition: all 0.4s;
    cursor: pointer;
}

.footer input {
    height: 45px;
    width: 70%;
    padding: 10px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.footer button {
    height: 45px;
    width: 20%;
    padding-left: -12px;
    border: none;
    outline: none;
    border-top: 1px solid#ff2962;
    background: #ff2962;
    color: white;
    margin-top: 40px;
    border-radius: 5px;
    cursor: pointer;
}

/*-------------------------- CSS For footer Ends Here -------------------------- */