/*-------------------------- CSS For Navbar Starts Here -------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.navbar-brand {
    color: rgb(168, 2, 184);
    font-size: 2rem;

}

.nav-link {
    color: rgb(168, 2, 184);
   
}

.nav-link:hover {
    color: rgb(168, 2, 184);
    border-bottom: 3px solid rgb(168, 2, 184);
    transition: all 0.2s;
}

.nav-item {
    color:rgb(168, 2, 184);
        font-weight: 500;
    padding-left: 35px;
}

.btn0 {
    height: 52px;
    width: 130px;

    text-align: center;
    padding-top: 12px;


    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.4s;
    background-color: rgba(185, 2, 202, 0.644);
}

.btn0:hover {
    color: white;
    text-decoration: none;

    background: rgb(168, 2, 184);
    transition: all 0.4s;
}

.btn1 {
    height: 52px;
    width: 130px;
    text-align: center;
    padding-top: 12px;
    background-color: transparent;
    color: rgb(168, 2, 184);
    cursor: pointer;
    transition: all 0.4s;
    outline: none;
    border: 2px solid rgb(168, 2, 184);
    ;
}

.btn1:hover {
    background: rgb(168, 2, 184);
    transition: all 0.4s;
    color: white;
    text-decoration: none;
}

#home{
    color: rgb(168, 2, 184);
    border-bottom: 3px solid rgb(168, 2, 184);
}

/*-------------------------- CSS For Navbar Ends Here -------------------------- */



/*-------------------------- CSS For Ref-form Starts Here -------------------------- */
.reg-form {
    display: none;
}

/*-------------------------- CSS For Ref-form Ends Here -------------------------- */


/* main */
.main {
    background: rgb(0,236,255);
    background: radial-gradient(circle, rgba(0,236,255,1) 13%, rgba(128,125,250,1) 40%, rgba(144,109,249,1) 56%, rgba(255,0,245,1) 75%, rgba(209,0,255,1) 93%);
    /* background: url("../Images/backgroundpic.jpg")no-repeat;
    background-size: cover; */
    width: 100%;
    min-height: 95vh;
}

.main h1 {
    font-size: 5rem;
    font-weight: 800;
    color: whitesmoke;
}

.main p{
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(252, 252, 252);
}



/*-------------------------- CSS For footer Starts Here -------------------------- */

.footer {
    background-color: #ecd8d8;
    color: rgb(168, 2, 184);
}

.footer p {
    margin: 0;
    color: #c41f9a;
}

.link {
    color: #69696b;
    transition: all 0.4s;
}

.link:hover {
    color: #ff2962;
    padding-left: 10px;
    transition: all 0.4s;
    cursor: pointer;
}

.footer input {
    height: 45px;
    width: 70%;
    padding: 10px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.footer button {
    height: 45px;
    width: 20%;
    padding-left: -12px;
    border: none;
    outline: none;
    border-top: 1px solid#ff2962;
    background: #ff2962;
    color: white;
    margin-top: 40px;
    border-radius: 5px;
    cursor: pointer;
}

/*-------------------------- CSS For footer Ends Here -------------------------- */