/*-------------------------- CSS For Navbar Starts Here -------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-brand {
    color: rgb(255, 196, 0);
    font-size: 2rem;

}

.nav-link {
    color: rgb(255, 196, 0);
   
}

.nav-link:hover {
    color: rgb(255, 196, 0);
    border-bottom: 3px solid rgb(255, 196, 0);
    transition: all 0.2s;
}

.nav-item {
    color: rgb(255, 196, 0);
    font-weight: 500;
    padding-left: 35px;
}

.btn0 {
    height: 52px;
    width: 130px;

    text-align: center;
    padding-top: 12px;


    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.4s;
    background-color: rgb(255, 196, 0);
}

.btn0:hover {
    color: white;
    text-decoration: none;

    background: rgb(255, 196, 0);
    transition: all 0.4s;
}

.btn1 {
    height: 52px;
    width: 130px;
    text-align: center;
    padding-top: 12px;
    background-color: transparent;
    color: rgb(255, 196, 0);
    cursor: pointer;
    transition: all 0.4s;
    outline: none;
    border: 2px solid rgb(255, 196, 0);
}

.btn1:hover {
    background: rgb(255, 196, 0);
    transition: all 0.4s;
    color: white;
    text-decoration: none;
}



/*-------------------------- CSS For Navbar Ends Here -------------------------- */

.loginPage{
    background: rgb(110,152,0);
background: radial-gradient(circle, rgba(110,152,0,1) 0%, rgba(0,152,145,1) 52%, rgba(110,152,0,1) 100%);
}

.Register {
    margin: auto;
    width: 50%;
    padding: 16px;
    /* background-color: white; */
    background-color: #9bcad3;
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 7);
}

.Register h1,
p {
    text-align: center;
    color: #5e9406;
}

input[type='text'],
input[type='password'],
input[type='email'] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: whitesmoke;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus {
    background-color: #ddd;
    outline: none;
}

.submitBtn {
    background-color: teal;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: auto;
    opacity: 0.8;
}

.submitBtn:hover {
    text-decoration: none;
    color: white;
    opacity: 1;
}











/*-------------------------- CSS For footer Starts Here -------------------------- */

.footer {
    background-color: #96d69b;
    color: white;
}

.footer p {
    margin: 0;
    color: #057a7a;
}

.link {
    color: #69696b;
    transition: all 0.4s;
}

.link:hover {
    color: #ff2962;
    padding-left: 10px;
    transition: all 0.4s;
    cursor: pointer;
}

.footer input {
    height: 45px;
    width: 70%;
    padding: 10px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.footer button {
    height: 45px;
    width: 20%;
    padding-left: -12px;
    border: none;
    outline: none;
    border-top: 1px solid#00505a;
    background: #00505a;
    color: white;
    margin-top: 40px;
    border-radius: 5px;
    cursor: pointer;
}

/*-------------------------- CSS For footer Ends Here -------------------------- */